---
import Icon from './Icon.astro';
---

<section class="box skills">

	<div class="stack gap-2 lg:gap-4">
		
        <h2>
            <Icon icon="bulb-icon" color="var(--accent-regular)" size="2.5rem" gradient />
            Interests
        </h2>
        <p>
            ML Engineering<br>
            Model Eval & QA<br>
            Tinkering<br>
            AI for Improving (not replacing) work
        </p>
	</div>

	<div class="stack gap-2 lg:gap-4">
        <h2>
            <Icon icon="graduation-cap-icon" color="var(--accent-regular)" size="2.5rem" gradient />
            Education
        </h2>
            <!-- <li>PhD in Physics, 2021 -- UC Berkeley</li> -->
            <!-- <li>BS in Physics, 2016 -- SUNY Stony Brook</li> -->
        <p>
            PhD in Physics, 2021
            <li>UC Berkeley</li>
        </p>
        <p>
            BS in Physics, 2016
            <li>SUNY Stony Brook</li>
        </p>
	</div>

	<div class="stack gap-2 lg:gap-4">
        <h2><Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
            Skills
        </h2>
        <p>
            PyTorch & TensorFlow<br>
            Python, C/C++, Lua<br>
            Diffusion, GNNs, Transformers<br>
            HPC, UNIX, SLURM<br>
        </p>

	</div>

</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: 2.7rem;
	}

	.skills p {
		color: var(--gray-400);
        font-size: 1.8rem;
	}
	.skills li {
		color: var(--gray-400);
        font-size: 1.2rem;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-3xl);
		}
	}
</style>
